<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>执行SQL语句</title>
</head>
<body>
<table align="center">
    <tr>
        <td colspan="2"><img src="../static/pic/banner2.jpg"></td>
    </tr>
    <tr>
        <td colspan="2" align="center" background="../static/pic/head.JPG">
            <font size="+1" color="#FF6600">请输入SQL语句，数据库xiaofu，数据表ns_goods</font>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center" background="../static/pic/head.JPG">
            <form action="/" method="post"><textarea name="text" cols="45" rows="5"></textarea>
                <input type="submit" name="sub" value="确定"/></form>
        </td>
    </tr>
    <tr>
        <td width="97" height="200px" background="../static/pic/head.JPG"><br/></td>
        <td background="../static/pic/head.JPG">标准书写格式：<br/>
            SELECT * <br/>
            FROM `ns_goods` <br/>
            WHERE goods_id = 260
        </td>
    </tr>
</table>
</body>
</html>