<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="../static/css/in.css"/>
    <title>连接MySQL服务器</title>
</head>
<body text="#0066CC">
<table align="center">
    <tr>
        <td>
            <img src="../static/pic/banner4.jpg"/>
        </td>
    </tr>
    <tr>
        <td background="../static/pic/head.JPG" align="center">
            <form action="/action" method="post">
                <font class="one"><b>HOST:</b></font><input type="text" name="host" size="10"/>
                <font class="one"><b>ROOT:</b></font><input type="text" name="user" size="10"/>
                <font class="one"><b>PWD:</b></font><input type="password" name="password" size="10"/>
                <input class="two" type="submit" name="sub" value="确定"/>
            </form>
        </td>
    </tr>
    <tr>
        <td width="580px" height="200px" bgcolor="#FFFCED">

        </td>
    </tr>
</table>
</body>
</body>
</html>