<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>查询关键字描红</title>
</head>
<body  style="font-size:16px; color:blue; font-family:'微软雅黑'">
	<div style="width:500px; height:300px; background:url(../static/image/1.jpg);">
        <a style='font-size:20px; color:#000000'>被搜索的文本：</a>
        <p>{{ content}}</p>
        <form action ="" method="post">
            关键字：<input type="text" name="text"><input type="submit" name="sub" value ="搜索">
        </form>

        {% if new_content %}
            {{ new_content|safe }}
        {% endif %}
    </div>
</body>
</html>